.newsHeader{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 3px 10px;
    font-size: 30px;
    border-bottom: 1px grey solid;
}

.formControl1{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.formControl2{
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.formContainer{
    margin: 2px ;
}

.productContainer{
    display: grid;
    grid-template-columns: 1fr 4fr 3%;
    border-bottom: 1px solid black;
    padding-top: 3px;
}

.red{
    background-color: red
}

.blue{
    background-color: blue
}